.main-app {
	border: 1px solid #00ff55;
	height: 1000px;
}
.pdf-canvas {
	border: 1px solid #bdbdbd;
}
.doc-tree {
	direction: ltr;
	overflow: visible;
	padding: 5px;
	width: 90%;
	height: 90%;
}
.doc-tree-outter {
	border: 1px solid #ff0000;
	width: 300px;
	height: 100%;
	overflow: scroll;
	direction: rtl;
	align-items: center;
}
.node-control-box {
	border: 1px solid #004cff;
}